@media screen and (max-width: 768px) {
    .desktop_menu {
        display: none !important;
    }

    .hamb_sticky {
        display: block;
    }

    .menu {
        display: block;
        background-color: #054c73;
    }

    .menu ul {
        margin-top: 180px;
    }

    .menu li {
        margin-top: -30px;
    }

    .menu li a {
        color: #fefefe;
        text-decoration: none;
        font-size: 25px;
        line-height: 20px;
    }

    .menu li a:hover {
        text-shadow: -1px -1px 12px #FFFFFF;
        color: white;

    }

    .logo {
        font-size: 25px;
    }

    .discover {
        background-color: #dfe9f4c7;
        height: 107h !important;
    }

    .arrival_desc {
        text-align: center;
    }

    .discover h1 {
        text-align: center;
    }

    .btn {
        width: 100% !important;
    }

    .discover {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        right: 0;
        top: 0;
        height: 100%;
        border-radius: 0;
    }

    .collection {
        padding-top: 45px;
    }

    .collection_images img {
        width: 70%;
    }

    .support {
        margin: 20px 0;
    }

    .photo2 {
        width: 100%;
    }

    .photo1 {
        display: none;
    }

    .photo3 {
        display: none;
    }

    .girl {
        width: 75% !important;
    }

    .space_image img {
        width: 80% !important;
        display: block;
        margin: 0 auto;
    }

    .space_text p {
        text-align: center;
    }

    .space_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .space .btn {
        margin: 25px;
    }

    .ellipse {
        display: none !important;
    }

    .range {
        padding: 55px 0;
    }

    .range img {
        width: 100%;
        object-fit: cover;
    }

    .range_areas {
        width: 70%;
        margin: 0 auto;
    }

    .work {
        padding: 10px 0 50px 0;
    }

    .work img {
        width: 70%;
        display: block;
        margin: 0 auto;
    }

    .mailing form {
        flex-direction: column !important;
    }

    .mailing form .link-btn {
        width: 100%;
        margin: 0;
        margin-bottom: 55px;
        height: 70px;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
        padding: 25px 45px;
        background: #054c73;
        border: 1px solid #011c42;
        border-radius: 3px;
    }

    .mailing form .email {
        width: 100%;
    }

    .instagram img {
        margin: 20px 0;
    }

}

@media screen and (max-width: 1092px) {
    .advantages .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container_respons {
        width: 100%;
        max-width: 836px;
    }

    .space_image img {
        width: 100%;
    }

    .ellipse {
        display: none;
    }
}

@media screen and (min-width: 1402px) {
    .space_text {
        width: 520px;
    }
}

@media screen and (max-width: 992px) {
    .instagram img {
        margin: 20px 0;
    }

    .advantages .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container_respons {
        width: 100%;
        max-width: 500px;
    }

    .collection h2 {
        margin-top: 10px;
    }

    .follow {
        padding: 49px 10px;
    }

    .follow img {
        width: 200px;
    }
}

@media screen and (max-width: 850px) {
    .advantages .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container_respons {
        width: 100%;
        max-width: 450px;
    }

    .follow .imgs img {
        width: 145px;
        height: auto;
    }

    .col-lg-8 {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .col-lg-8 {
        width: 60%;
    }

    /*.collection_images {*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    flex-direction: column;*/
    /*}*/

}

@media (max-width: 1100px) {

    .collection_images {
        display: flex;
        align-items: center;
    }
}