@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  padding: 40px 0px;
  min-height: 122px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  width: 100%;
}
.heading .container {
  width: 100%;
}
.heading row {
  width: 100%;
}
.heading header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/*Hamburger menu*/
 
 #menuToggle
 {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: tomato;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   
   -webkit-touch-callout: none;
 }
 
 /*
  * Just a quick hamburger
  */
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: #cdcdcd;
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 
 /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
 }
 
 /*
  * But let's hide the middle one.
  */
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 
 /*
  * Ohyeah and the last one should go the other direction
  */
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 
 /*
  * Make this absolute positioned
  * at the top left of the screen
  */
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 
 /*
  * And let's slide it in from the left
  */
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }





/* .container {
  width: 100%;
  margin: 0 auto;
} */

.logo {
  font-weight: 700;
  font-size: 34px;
  color: #054c73;
}

header {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 73px;
}

nav ul li {
  list-style: none;
  font-weight: 600;
  font-size: 14px;
}

nav ul li a {
  text-decoration: none;
  color: #333333;
}

.home {
  position: relative;
  background: url(../images/home_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 749px;
  max-width: 1440px;
}

.discover {
  max-width: 643px;
  position: absolute;
  right: 90px;
  top: 155px;
  background: #dfe9f4;
  border-radius: 10px;
  padding: 40px 45px;
}

.new_arrival {
  margin-top: 37px;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 3px;
  color: #333333;
}

h1 {
  margin-top: 20px;
  font-weight: 700;
  font-size: 52px;
  line-height: 65px;
  color: #054c73;
}

.arrival_desc {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 39px;
  color: #333333;
}

.btn {
  margin-top: 30px;
  padding: 25px 72px;
  width: 229px;
  height: 70px;
  background: #054c73;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Section advantages */
.advantages {
  background-color: #f2f5ff;
  padding: 45px 0px;
  width: 100%;
  max-width: 1440px;
}

.delivery,
.support,
.authentic {
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 27px;
}

.delivery_text p,
.support_text p,
.authentic_text p {
  font-weight: 400;
  font-size: 16px;
  color: #333333;
  line-height: 29px;
  /* margin-top: 6px; */
}

.delivery_text p span,
.support_text p span,
.authentic_text span {
  font-weight: 600;
  font-size: 24px;
  color: #333333;
  line-height: 29px;
}

.collection {
  width: 100%;
  max-width: 1440px;
  min-height: 731px;
  padding: 60px 0;
  /*overflow: hidden;*/
}

.collection h2 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 32px;
  color: #333333;
  text-align: center;
}

.collection p {
  margin: 20px 0 50px 0;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #666666;
}

.collection_images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.collection_images .photo1,
.collection_images .photo3 {
  margin-top: 88px;
}

.space {
  background-color: #f2f5ff;
  position: relative;
  padding: 60px 0;
  z-index: -2;
  max-width: 1440px;
  width: 100%;
}

/* .space_text {
  max-width: 500px;
} */

.space_text p span {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #333333;
}

.space_text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
  color: #666666;
  /* margin-top: 20px; */
  /* max-width: 514px; */
}

.space_text .btn {
  padding: 24px 57px;
  width: 240px;
  background: #054c73;
  border-radius: 50px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}

.space_image {
  position: relative;
}



.space_image img.ellipse {
  position: absolute;
  z-index: -1;
  top: 250px;
  right: 68px;
  
}








.range {
   width: 100%;
   max-width: 1440px;
  padding: 60px 0;
  border-bottom: 1px #D7D6D6 solid;
}

.range img {
  width: 100%;
}

.range h2 {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.range p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #666666;
}

.range_images {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dining,
.living,
.bedroom {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #333333;
}

.work {
  padding: 60px 0 197px 0;
  width: 100%;
  max-width: 1440px;
}
.work img {
  width: 100%;
}

.work h2 {
  margin-top: 60px;
  font-weight: 700;
  font-size: 32px;
  color: #333333;
  text-align: center;
}

.work p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #666666;
}

.purchase p span,
.warehouse p span,
.style_room p span {
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

.work p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  /* text-align: center; */
  color: #666666;
}

.mailing {
  width: 100%;
  max-width: 1920px;
  min-height: 363px;
  background-color: #f2f5ff;
}
.mailing .row{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.mailing .row form {
  margin: 5px;
  max-width: 486px;
}
.mailing .row input {
  width: 100%;
}
.mailing h2 {
  padding-top: 60px;
  font-weight: 700;
  font-size: 32px;
  color: #333333;
  text-align: center;
}

.mailing p {
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #666666;
  max-width: 514px;
}

.mailing form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: relative;
  gap: -1px;
}

.mailing form .link-btn {
  width: 153px;
  height: 70px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  padding: 26px 45px;
  background: #054c73;
  border: 1px solid #011c42;
  border-radius: 3px;
}

.mailing form .email {
  margin: 45px 0 20px 0;
  height: 70px;
  padding: 25px 0 25px 25px;
  font-weight: 400;
  font-size: 16px;
  width: 486px;
}
.mailing form input {
  color: #000;
}
.mailing form input:focus {
  outline: none;
}
.mailing form input::placeholder {
  color: #011C42;
  opacity: 0.3;
}
.follow {
  width: 100%;
  background-color: #03344f;
  padding: 49px 0;
}

.follow .imgs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.follow .imgs img{
  margin: 7px;
  width: 22%;
}

.follow_items {
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 23px;
}

.follow_text {
  min-width: 280px;
  /* width: 100%; */
}

.follow_text h3.care{
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.follow_text p {
  margin-top: 34px;
  width: 400px;
  min-height: 97px;
  font-weight: 400;
  font-size: 16px;
  line-height: 35px;
  color: #ffffff;
}

.follow_text h3 {
  margin-top: 21px;
}

.follow h3 {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.instagram h3 {
  margin-top: 60px;
}

.follow p {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    width: 100%;
  max-width: 350px;
}

.instagram_images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21px;
}

.instagram_images img {
    width: 175px;
    height: 185px;
    margin-top: 23px;
    border-radius: 2px;
}

.purchase, .warehouse, .style_room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn.wow.fadeInUp {
  width: 241px;
}

.beautify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

